* {
    margin: 0;
    padding: 0;
    font-family: neuha, sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    transition: .3s;
    scroll-behavior: smooth;
}

a {
    color: black;
}

@font-face {
    font-family: neuha;
    src: url(/assets/fonts/neuha.ttf);
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo img {
    width: 250px;
    height: 150px;
    padding-top: 20px;
}

.header_nav {
    display: flex;
    align-items: center;
    gap: 55px;

}

.nav_item {
    color: white;
    font-size: 40px;
    padding-top: 60px;
}
.header_nav {
    display: flex;
    align-items: center;
    gap: 55px;

}
.nav_item:hover{
    transform: scale(1.05);
}
.btn_login {
    width: 150px;
    height: 50px;
    border: 1px solid white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
}

.login {

    font-size: 32px;
    color: white;
}
.btn_login:hover{
    background-color: white;
    color: black;
}
.login:hover{
    color: #000000;
}
/* banner */
.banner {
    position: relative;

}

.banner_img img {
    width: 100%;
    background-size: cover;
    position: absolute;
    z-index: -2;
    top: -170px;
}
.banner_inner{
    padding-top: 50px;
}
.top{
    display: flex;
    justify-content: center;
    align-items: center ;
    gap: 100px;
    margin-bottom: 50px;
}
.top a{
    font-weight: 400;
    font-size: 48px;
    color: #E9792A;
}
.top h2{
    font-size: 42px;
    font-weight: 400;
    color: white;
}

.registr{
    color: white; 
    font-size: 44px; 
}

.bot{
    display: flex;
    justify-content: start;
    gap: 100px;
    padding-left: 350px;
    padding-top: 20px;
}
.inputs{
    padding-left: 50px;
}
.inputs input{
    width: 600px;
    height: 60px;
    font-size: 32px;
    margin-top: 20px;
    border-radius: 10px;
    border: none;
}
.inputs p{
    color: white;
}
.pass_again{
    font-size: 36px;
}